spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: "true"
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.MySQL5Dialect"
      database:
         driverClassName: "com.mysql.jdbc.Driver"
  datasource:
          url: "jdbc:mysql://localhost:3306/pricedb?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC"
          username: "root"
          password: ""
      
security:
  basic:
    enabled: false
    
server:
  port: 8084

eureka:
  instance:
     preferIpAddress: true
  client:
     registerWithEureka: true
     fetchRegistry: true
     serviceUrl:
        defaultZone: http://localhost:8761/eureka/  

logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    org.project.priceservice: DEBUG

endpoints:
      metrics:
        sensitive: false
      trace:
        sensitive: false